page-login {


    .box  {

        border-radius: 10px !important;
        border: 1px solid #4A86E8;
    }
    
    
    
    .bFont {
    
        font-size: 22px;
        font-family: "Open Sans";
        font-variant: normal;
        font-style: normal;
    
    }
    
    
    
   
  
    
.q{
    text-align: center;
    color :  #4A86E8;
    font-style: unset;
    text-decoration: underline;


}



}
