page-edit {
    .box  {

        border-radius: 10px !important;
        border: 1px solid #4A86E8;
        margin: 5px;
    }
    
    .cFont{
    
    font-size: 22px;
    font-family: "Open Sans";
    font-variant: normal;
    font-style: normal;
    color: #4A86E8;
    
    }
    
    
    
    
    
    .bot  {
       
      //  padding: 15px;
      // margin: 20px;
        border-radius: 50px !important;
        border-spacing: 5px ;
        border: 1px thick  #4A86E8;
        border-color: #4A86E8;
    }
    
    
    
    


}
