page-add {
.box  {

    border-radius: 10px !important;
    border: 1px solid #4A86E8;
}

.cFont{

font-size: 22px;
font-family: "Open Sans";
font-variant: normal;
font-style: normal;


}

.bFont {

    font-size: 22px;
    font-family: "Open Sans";
    font-variant: normal;
    font-style: normal;

}



.bot  {

    border-radius: 5px !important;
    background-color: #4A86E8;

}


}

