page-aboutus {

  .text{
    text-align: center;

  }
  
  

        .cFont{

            
            font-family: "Open Sans";
            font-variant: normal;
            font-style: normal;

            
            }

        .box  {

                border-radius: 10px !important;
                border: 1px solid #4A86E8;
            }
}
